# Directories
library/
local/
cellar/
lock/
python/
staging/

# Files
.Rhistory*
.Renviron
.Rapp.history
Pprof.out
.RData
.RDataTmp
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
*.html
*.pdf
.httr-oauth
.gitconfig
*_cache/
/cache/
*.utf8.md
*.knit.md
.vscode/*.log
.devcontainer/exts
.devcontainer/gpg-agent.conf
.devcontainer/gpg.conf
/*_files/
tmp
/tmp/
/tmp_*/
.future
debugme.log
.history
.radian_history
/.travis.yml
/R/RcppExports.R
/code/
/pdfs/
/docs/reference
/pkgdown/
/revdep/*.html
/revdep/checks
/revdep/checks.noindex
/revdep/data.sqlite
/revdep/library
/revdep/library.noindex
/review/
/src/*.dll
/src/*.o
/src/*.so
/src/RcppExports.cpp
LOCAL_APPDATA_FONTCONFIG_CACHE/
README.html
Rplots.pdf
dev/
packrat/lib*/
packrat/src/
src-*/
workspace.RData
.DS_Store
analysis/figure
analysis/*png
test.mmd
analysis/*html
analysis/*_cache
analysis/site_libs
output/*.svg
output/*.rds
protocol/**/*.html
protocol/**/*.svg
protocol/**/*.rmarkdown
mpxtest.RData
.devcontainer/git-hours.tgz
.devcontainer/mathjax.tgz
docs/thesis/*.log
docs/thesis/__*.tex
**/rsconnect/**
/.luarc.json
.Rhistory

